
body{
    margin: 0;
}

.todo{

    margin: 30px;
}

nav{
    box-shadow: 1px 1px 3px black;
    margin-top: 8px;
    margin-left: 1%;
    width: 98%;
    height: 55px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    overflow:hidden; /* Eliminamos errores de float */
    border-radius: 20px;
    position: fixed;
    z-index: 99;
}

.nombre{
    margin-top: 8px;
    margin-left: 40px;
    float: left;
    font-family: 'DM Sans', sans-serif;
}

.links{
    margin-top: 15px;
    float: right;
    margin-right: 45px;
}

.links a{ 
    color: rgb(0, 0, 0);
    margin-right: 20px;
    text-decoration:none;
}

.textflotante{
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 40vh;
    left: 38%;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 2px black;

}

.sect1{
    height: 300px;  
}

.carrucel{
    background: linear-gradient(#00000042, #00000042),
}

.servicios{
    padding: 70px;
}




/*////////////////////////////  # formulario  ////////////////////////////*/

#cita {
background: linear-gradient(#00000042, #00000042), url("https://source.unsplash.com/AovflqCt9Ws") top center;
background-position: center;
background-size: cover;
padding-top: 5rem;
padding-left: 65%;
padding-bottom: 5rem;
}

.form-register {
display: inline-block;
width: 400px;
background: #ffffff;
padding: 30px;
border-radius: 4px;
border: 1px solid #000000;
color: #000000;
}

.form-register h4 {
font-size: 22px;
margin-bottom: 28px;
}

.control {
width: 95%;
background: #ffffff;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #000000;
font-size: 18px;
}

.form-register .boton {
font-size: 17px;
font-family: 'Fredoka One', cursive;
}




.footer{
    text-align: center;
  }


  .footer .linkf{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
  }
  
  .footer .linkf a{
    padding:.7rem 2rem;
    color:#000000;
    border:#ffffff4d;
    font-size: 20px;
    text-decoration: none;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
  }
